    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      max-width: 800px;
      margin: auto;
    }
    table, th, td {
      border: 1px solid #ccc;
      border-collapse: collapse;
      padding: 8px;
    }
    th {
      background-color: #f0f0f0;
    }
    button {
      padding: 6px 12px;
      margin-top: 10px;
    }
    input, select {
      padding: 5px;
      margin-right: 10px;
    }
    .seccion {
      margin-bottom: 10px;
    }
          /* mueve la línea completamente a la derecha */
    footer {
      text-align: center;
      padding: 2rem;
      background-color: #008080;
      color: white;
    }
    footer a {
      color: #fff;
      margin: 0 10px;
      text-decoration: none;
      font-size: 1rem;
    }